<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerslinks}}
</head>

<body>
   {{>navbar}}
    <!-----------main header-------------->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                     <!--main header right-->
                     <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="faiz" class="img-fluid" height="400px" width="400px" />
                        </figure>
                        
                    </div>
                    <!--main header left-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to faiz world</p>
                        <h1>I am a <span class="text_clr">MERN</span> Stack developer </h1>
                        <a href="https://faiz86ahmad.github.io/myportfoliowebsite/"><button>About Me</button></a>


                    </div>
                   
                </div>

        
            </div>
        </div>  
    </div>  
    <!--------footer code-->
    {{>footer}}

</body>

</html>